.my-custom-scrollbar {
      position: relative;
      height: 400px;
      overflow: auto;
  }
.table-wrapper-scroll-y {
    display: block;
}
.receipt-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}.account-check-custom-scrollbar{
     position: relative;
     height: 300px;
     overflow: auto;
 }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.blur-content{
    filter: blur(5px);
}
table #grid_room,
td.ac{
   height: 100px;
}
table #tbl_facility{
    height: 230px;
}table #tbl_schedule{
    height: 400px;
}
.table-h-300{
    height: 250px;
}
.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;

}
.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    border-color: #4783B0;
}

.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 2px;
    top: 0;
    right: 0;
    display: none;
}
.image-checkbox-checked .fa {
    display: block !important;
}
.move_table
{
    padding:16px;
    background-color:#f9f9f9;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
}
.move_table .ui-state-highlight
{
    padding:24px;
    background-color:#ffffcc;
    border:1px dotted #ccc;
    cursor:move;
    margin-top:12px;
}


